polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.systemd1.manage-units" &&
        action.lookup("unit") == "daim-check.service" &&
        action.lookup("verb") == "start" &&
        subject.active && subject.local) {
        return polkit.Result.YES;
    }
});
